<header class="bg-dark text-white py-3 sticky-top mb-3">
    <nav class="container">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">
        <h1 class="text-white fs-4 text-center text-md-start">EstiloRodante</h1>

        <!-- Buscador solo visible desde md en adelante -->
        <div class="w-100 d-none d-md-block">
          <input type="text" class="form-control" placeholder="Search by name..." />
        </div>

        <!-- Enlaces + logo -->
        <div class="nav flex-column flex-md-row align-items-center">
          <a class="nav-link text-white px-2" href="/dashboard">Home</a>
          <a class="nav-link text-white px-2" href="/agregar">Añadir</a>
          <a class="nav-link text-white px-2" href="/vista_ventas">Ventas</a>
          <button id="LogOut" style="margin: 0 1em; border-radius: 10px;" onclick="logout()">Log Out🚪</button>
          <img id="logoPage" src="/images/logoPage.png" alt="LogoPagina"class="img-fluid mt-2 mt-md-0" style="max-width: 50px; padding: 5px;">
        </div>
      </div>
    </nav>

    <button id="modoNocheBtn" class="btn btn-outline-secondary" style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;">
      🌙
    </button>
  </header>