<header class="bg-dark text-white py-3" margin-bottom: 20px; position: sticky; top: 0; z-index: 1000;>
    <nav class="container d-flex justify-content-between align-items-center" >
    <h1 class="text-white">EstiloRodante</h1>   
    <input type="text" class="form-control w-25" placeholder="Search by name..." />
        <div class="nav" >
            <a class="nav-link text-white" href="/dashboard">Home</a>
            <a class="nav-link text-white" href="/agregar">Añadir</a>
            <img id="logoPage" src="/logoPage.png" alt="LogoPagina" class="img-fluid mx-auto d-block mt-2" style="max-width: 50px;  padding: 5px;">
        </div>
    </nav>
    <button id="modoNocheBtn" class="btn btn-outline-secondary position-fixed top-0 end-0 m-3 z-3">
    🌙
    </button>

</header>