:root {
    --main-color: #021526;
    --second-color: #bfbfbf;
    --back-color: #5354cE;
    --text-color: #eee;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.nav a{
  font-size: 1.3em;
  margin: 0 1em;
  border-radius: 20px;
  color: var(--text-color);
}

.nav a:hover{
  background-color: var(--text-color);
  color: var(--main-color);
}

#logoPage {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 1em;
    border-radius: 30%;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
}


.products {
    width: 100%;
}
aside {
    width: 100%;
}


.minPrice, .maxPrice{
    width: 100%;
    height: 1.4em;
}


.productsBox{
    padding: 1em .2em;
}

.product{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: .5em;
    border: 1px solid black;
    background-color: var(--second-color);
    color: var(--main-color);
}

.productImage img{
    width: 50%;
}

.productDesc{
    width: 100%;
}

.productButtons{
    width: 50%;
    align-self: end;
    display: flex;
}


.order{
    background-color: var(--second-color);
    justify-self: end;
}

.aside-fixed {
    position: fixed;
    left: 0;
    top: 100px;
    right: 30px;
    width: 200px;
    height: 40em;
    z-index: 1000;
    padding: 10px;
    margin-left: 5em;
}